@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


html {
    width: 100%;
    height: 100%;
}

body{
    font-family: Georgia;
    background-image: url(bg.webp);
    background-repeat: no-repeat;
    background-size: cover ;
}

#pokeLogo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 3px;
}

#pokeBtn{
    width: 75px;
    color:#ffcc03;
    background-color: #3761A8;
}
#pokeBtn:hover{
    background-color: #4e7ac6;
}

#randomPokeBtn{
    width: 100px;
    color: #3761A8;
    background-color: #ffcc03;
}
#randomPokeBtn:hover{
    background-color: #f5db73;
}

#content h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    font-family: 'Pokemon Solid', sans-serif;
    font-size: 30px;
    color: #ffcc03;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3761A8;
    letter-spacing: 5px;
}

#content #pokeImg{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#content #statsTitle {
    display: none;
    justify-content: center;
    margin: 0 auto;
}

#content #statsTable {
    display: none;
    justify-content: center;
    margin: 0 auto;
}

th, td {
    border: 1px solid;
    text-align: center;
  }

#content #movesTitle {
    display: none;
    justify-content: center;
    margin: 0 auto;
}

#content #movesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#movesList li {
    text-align: left;
    width: 100%; 
    max-width: 150px; 
}
